<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<!--<img src="assets/images/nmviajes.png">-->
			<img src="assets/images/sales.jpg">
		</div>
		<div class="col-sm-6">
			<div class="well well-sm">
				<div class="btn-group centered">
					<a routerLink="/dashboard" class="btn btn-default btn-lg">Dashboard</a>
					<a routerLink="/vuelos" class="btn btn-default btn-lg">Vuelos</a>
					<a routerLink="/hoteles" class="btn btn-default btn-lg">Hoteles</a>
					<a routerLink="/autos" class="btn btn-default btn-lg">Autos</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="row">
				<div class="col-sm-12">
					<span class="glyphicon glyphicon-envelope"></span> Mail
					<span class="glyphicon glyphicon-calendar"></span> Calendar
				</div>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>

