<div class="well well-lg app-colored">
	<div class="container">
		<p class="main-title">Coches de alquier, busque compare y ahorre</p>
		<form class="form">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="idDestino">Destino:</label>
						<input type="input" class="form-control" id="idDestino" placeholder="ingresa tu destino">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="idFHRecojo">Fecha y Hora de Recojo:</label>
						<input type="input" class="form-control" id="idFHRecojo" placeholder="ingrese F y H recojo">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="idFHDevolucion">Fecha y Hora de Devolución:</label>
						<input type="input" class="form-control" id="idFHDevolucion" placeholder="ingrese F y H de devolucion">
					</div>
				</div>
				<div class="col-sm-3">
					<br>
					<button type="submit" class="btn btn-default">Buscar</button>
				</div>
			</div>
		</form>
	</div>
</div>
