/* You can add global styles to this file, and also import other style files */
.app-colored{
	background-color: #f43a2d;
}

.centered{
	float: none;
	margin: 0 auto;
}

.btn:hover{
	background-color: red;
}

.main-title{
	color: #FFD500;
	font-size: 20px;
}

.form label{
	color: white;
}

.form .btn-default{
	background-color: #FFC927;
	font-size: 14px;
}
